.login-form-container {
	padding-top: 170px;
}
.container-padding {
	padding-top: 70px;
}
#table-mycustomers #table-myReservations tbody tr{
    cursor: pointer;
}
#table-flights td {
	/*text-align: center;*/
    vertical-align: middle;
}
#table-flights button {
	padding-top: 10px; 
	padding-bottom: 10px;
}